extends layout
block title
  | Index page
block content
  include ./header
  div.w3-container
    div(class='page-wrapper')
      div(class='mcontent-wrapper')
        h1 PAINTING AUCTION
        h4 cpp lab 9 by Rogacheva AD181
